@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);

@import url(https://db.onlinewebfonts.com/c/49bf5d043a27b890a040cf393277e2b2?family=TT+Norms+Pro+Regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALES */
:root {
    --primary: #2a5328;
    --secondary: #fe9504;
    --tertiary: #cde0cd;
    --quaternary: #f5d1dd;
    --white: #fefdfd;
    --black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Feather Bold';
}

p {
    font-family: 'TT Norms Pro Regular';
}

.feather-bold {
    font-family: 'Feather Bold';
}

.tt-norms-pro {
    font-family: 'TT Norms Pro Regular';
}

.h1 {
    font-size: 3rem;
}

/* HEADER */
.navbar {
    margin: 1em auto;
    margin-top: 2em !important;
    background-color: transparent !important;
    border-radius: 35px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    max-width: 89%;
    display: flex;
    justify-content: center;
}

.navbar li {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1000px) {
    .navbar {
        max-width: 95%;
    }
}

.navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-nav .nav-link.active:hover {
    color: var(--secondary) !important;
}

.logo-tigervet {
    max-width: 8rem;
    height: auto;
}

.logo-tigervet:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.nav-link {
    color: var(--primary) !important;
    font-size: 1.2rem !important;
}

.nav-link:hover {
    color: var(--secondary) !important;
}

/* MAIN */

/* PORTADA */
.hero-tigervet {
    width: 85vw !important;
    max-height: 75vh !important;
    object-fit: cover;
    border-radius: 35px;
    filter: brightness(0.8);
    object-position: center;
}

.text-overlay p {
    font-size: 1.6rem !important;
    font-family: 'TT Norms Pro Regular';
    position: relative;
    top: 50%;
    transform: translate(160%, 10%);
    color: white;
    font-size: 2rem;
    width: 20vw;
}

.text-overlay-epigraph {
    display: none;
}

.bg-pink {
    background-color: #f5d1dd;
    border-radius: 30px;
}

.bg-green {
    background-color: #2a5328;
    border-radius: 30px;
    color: var(--white);
}

.gente-sonriendo {
    max-width: 75% !important;
    height: auto;
    display: block;
    margin: auto;
}

/* Estilos del botón Home */
.btn-home {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    font-family: 'Feather Bold';
    padding: 0.5rem 2rem !important;
    font-size: 1.5rem !important;
    border-radius: 20px !important;
    border: none;
}

.btn-home:hover {
    transition: all 0.3s ease;
    background-color: var(--secondary) !important;
}

/* FLECHAS */
.row .col-md-2 {
    position: relative;
}

.row .col-md-2::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 30px;
    background-color: var(--primary);
}

.row .col-md-2::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--primary);
}

/* PAGINA DISEÑO */
/* PORTADA */
.hero {
    position: relative;
    background-image: url('./assets/mascotas.png');
    background-size: cover;
    background-position: center;
    height: 40vh;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100vw auto;
}

/* COLORES */
.color-box {
    margin: 10px;
    text-align: center;
}

.box {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    padding: 15px;
}

#color-primary {
    background-color: var(--primary);
}

#color-secondary {
    background-color: var(--secondary);
}

#color-tertiary {
    background-color: var(--tertiary);
}

#color-quaternary {
    background-color: var(--quaternary);
}

#color-white {
    background-color: var(--white);
}

#color-black {
    background-color: var(--black);
}

.favicon-inner {
    width: 10rem !important;
    height: auto !important;
    rotate: -20deg;
}

.logotipo-inner {
    width: 45rem !important;
    height: auto !important;
}

/* QUERY RESPONSIVE */
@media (max-width: 1200px) {
    .text-overlay p {
        display: none;
    }

    .text-overlay-epigraph {
        display: block;
    }
}

@media (max-width: 768px) {

    .row .col-md-2::before,
    .row .col-md-2::after {
        display: none;
    }
}

/* PAGINA INTEGRANTES */
.intro-integrantes {
    display: flex;
    align-items: center;
}

.intro-integrantes h1 {
    width: 45%;
    margin: 1em;
    font-size: 2.8rem;
}

.intro-integrantes p {
    margin: 1em;
}

@media (max-width: 1200px) {
    .intro-integrantes {
        flex-direction: column;
    }

    .intro-integrantes h1 {
        width: 100%;
    }

    .intro-integrantes p {
        width: 100%;
    }
}

.cards-integrantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-integrantes img {
    height: auto;
}

.card {
    border: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.5em;
}

/* PAGINA LINKS */
.link-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-container img {
    z-index: 3;
}

.links a {
    color: var(--black) !important;
    text-decoration: none !important;
}

.links a:hover {
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
}

.hero-links {
    margin-top: 250px;
}

.cardTigerVet {
    background-color: #FE9504;
}

@media (max-width: 1200px) {
    .hero-links {
        margin-top: 0px;
    }
}

@media (min-width: 768px) {
    .ms-md-5 {
        margin-left: 0rem !important;
    }
}

/* PAGINA BUENAS PRACTICAS */
.botonera-buenas-practicas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;;
}

.contenido-item {
    display: none;
}

.contenido-item.active {
    display: block;
}

.btn-home.active {
    background-color: var(--quaternary)!important;
    color: var(--black)!important;
}

.card-video {
    border-radius: 35px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--tertiary)!important;
}

@media (min-width: 768px) {
    .card-video iframe {
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 1.75rem;
    }
}

@media (max-width: 768px) {
    .card-video iframe {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
}
